body{
    font-family: 'Poppins', sans-serif;
}
/* -----first subject -----*/
.heading-img img{
    width: 70%;
    height: 438pxS;
    margin-left: 102px;
    margin-top: 253px;
    margin-right: 130px;
    margin-bottom: 86px;
    
}
.headline{
    font-size: 30px;
    color: white;
}

.top-desgin:hover .heading-img{
    transform: scale(1.5);
    transition:transform 2s ease-in-out ;

}
.top-desgin:hover .first-anc{
    transform: scale(1.2);
    transition: transform 2s ease-in-out;
}


.top-desgin{
    display: flex;
    background-color: darkblue;
    justify-content: space-between;
    overflow: hidden;
}
.header-part{
    margin-left: 156px;
    margin-top: 207px;
    margin-bottom: 240px;
}
.link-button{
    text-decoration: none;
    color: white;
   
   
  
    /* padding: 10px 24px; */
    
}
.first-anc{
    background-color: #E02C6D;
    width: 168px;
    height: 44px;
    color: white;
    text-align: center;
    padding-top: 20px;
    border-radius: 4px;
}
   /*--------- players stiry-------- */
.story-1 img{
    width: 100%;

}
.story-1{
    display: block;
    border: 15px solid whitesmoke; 
    width: 200px;
    height:400px;
    padding: 15px;
    box-shadow: 10px 10px 30px 10px gray;

   
     
}
.player-list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:27px 30px;
    margin-left: 140px;
    margin-right: 225px;
    margin-right: 27px;
    margin-top: 70px;
   
    

}
.small-line{
    margin-left: 40px;
}
.photo img{
    width: 15%;
    border-radius: 50%;

}
.photos-player:hover .photo img{
    transform:scale(1.5) ;
    transition: transform 2s ease-in-out;
}
.searchh{
    text-decoration: none;
    color: whitesmoke; 
   
    
   
}
.searces{
    width: 168px;
    height: 44px;
    margin-top: 40px;
    margin-left: 50px;
    background-color: #E02C6D ;
    text-align: center;
    padding-top: 20px;
    border-radius:5px ;
    
    
}




   
/* -----footer style------ */
.footers img{
    width: 470px;
    height: 110px;
    margin-left: 300px;
    margin-top: 158px;
    

    
    
}
.nav-tags.filled{
    width: 170px;
    height: 32px;
    
    
    
}
.footer-line{
    width: 236px;
    height: 31px;
    top: 182px;
    display: flex;
    align-items: center;
    margin-left: 450px;
    margin-top: 20px;
    margin-bottom: 63px;
}
.nav-tags{
    margin-left: 500px;
    margin-top: 20px;
    border-color: 2px red;
}



